Robotics_main.aux
Robotics_main.bcf
Robotics_main.fdb_latexmk
Robotics_main.fls
Robotics_main.log
Robotics_main.out
Robotics_main.run.xml
Robotics_main.toc
Robotics_main.synctex.gz
Robotics_main.bbl
Robotics_main.blg
